body{
  background-color: #d3f8e7;
}


#main {
 width: 850px;
 text-align: center;
 margin: auto;
 color: #061d24;
 font-family: 'Oswald', sans-serif;
}

h1 {
  color: #fdd741;
  text-shadow: 2px 2px #061d24;
  margin-top: 5px;
  margin-bottom: auto;
  font-size: 60px;
}

#subtitle-main, #subtitle-screen-results{
  font-size: 30px;
  margin-bottom: 8px;
}


#prueba input {
  display: inline-block;
  margin: inherit;
}

.tooltip{
  font: bold 12px arial;
  position: relative;
  background-color: #fdd741;
  display: inline;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2px 5px;
  margin-bottom: 8px;
  margin-top: 2px;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #fde37b;
  color: #061d24;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  /*z-index: 80;*/
  bottom: 125%;
  /*left: 200%;*/
  margin-left: -200px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #061d24 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#input-text-area {
  height: 250px;
  width: 520px;
  text-align: center;
  color: #F4F3ED;
  padding: 30px 10px;
  background-color: #092b35;
  font: bold 30px arial;
  border: none;
  border-radius: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#input-position{
  background-color: #092b35;
  font: bold 18px arial;
  text-align: center;
  color: #F4F3ED;
  border: 2px #fbfbf9;
  border-radius: 5px;
  display: block;
  width: 55px;
  height: 25px;
  padding: 2px;
  margin-left: 397.5px;
}

p {
  margin: 2px auto;
}

form p {
  margin-bottom: 1px;
}

#main-button-decipher, #main-button-encrypt {
  background-color: #fdd741;
  color: #061d24;
  border-color: #fccb07;
  font: bold 13px arial;
  height: 40px;
  width: 80px;
  border-radius: 10px;
}

#original-text, #new-text {
  background-color: #092b35;
  color: #F4F3ED;
  display: inline-block;
  overflow-y: hidden;
  font: bold 30px arial;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 15px;
  width: 385px;
  height: 250px;
  border: 1px solid black;
  border-radius: 30px;
}

#original-text {
  margin-right: 4px;
}

#title-original-text, #title-new-text {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
}

#second-buttons-return, #second-buttons-mail, #second-buttons-copy {
  background-color: #fdd741;
  color: #061d24;
  font: bold 13px arial;
  margin: 10px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  float: right;
}

[name=button-copy] {
  margin-right: 10px;
}
